@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&Poppins:wght@400;700&display=swap');

#sliding-menu {
    height: 100%;
    width: 0;
    max-width: 568px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: .25s all ease-in-out;
    font-family: 'Poppins', sans-serif;
}

#menu-content {
    padding-right: 9px;
    padding-left: 9px;
}

#menu-header {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

#menu-header > h2 {
    margin-right: auto;
    margin-top: 16px;
    font-weight: bold;
}

#menu-footer {
    position: absolute;
    bottom: 0;
    width: 568px;
    height: 48px;
    display: flex;
}

#menu-footer button {
    background-color: #e5e7eb;
    font-family: 'Poppins', sans-serif;
    flex-grow: 1;
    border: 0;
    cursor: pointer;
}

#menu-footer button.btn-selected {
    background-color: #3498db;
    color: white;
}

.menu-body {
    text-align: left;
}

.menu-body:not(#menu-sec-main) {
    display: none;
}



.inline-menu-entry {
    display: flex;
}

.inline-menu-lx {
    margin-right: auto;
}

.inline-menu-rx {
    margin-left: auto;
}