@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&Poppins:wght@400;700&display=swap');


body {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    height: 100%;
}







#app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

#header {
    flex-grow: 1;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#main {
    font-size: 20vw;
    font-weight: 700;
    letter-spacing: .5rem;
    opacity: .7;
    max-height: 400px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottom {
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}



@media only screen and (max-width: 500px) {
    #time {
        font-size: 22vw;
    }
}

#carousel {
    border-radius: .5rem .5rem 0 0;
    border: 10pt solid #1f2937;
    background-color: #1f2937;
    display: flex;
}

#phases-container {
    width: 305px;
}

#name {
    background-color: #374151;
    color: white;
    border: 10pt solid #374151;
    border-radius: 0 0 .5rem .5rem;

    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.work {
    background: #ff6b6b;
    border: 1pt solid #ff6b6b;
}

.short {
    background: #f4a261;
    border: 1pt solid #f4a261;
}

.long {
    background: #2ec4b6;
    border: 1pt solid #2ec4b6;
}

.phase {
    position: relative;
    display: inline-block;
    border-radius: .5rem;
    width: 48px;
    height: 48px;
    opacity: .4;
    margin-right: 5px;
    margin-top: 4px;
    margin-bottom: 4px;
    min-width: 48px;
}

.selected {
    border: 1px solid white;
    opacity: 1;
    margin-left: 4px;
}

.offscreen {
    display: none;
}

#header {
    position: relative;
    display: flex;
    flex-direction: column;
}







.settings-icon {
    margin-left: auto;
    height: fit-content;
}

.settings-icon svg {
    padding: 7px;
    border-radius: 50%;
} 

.settings-icon svg:hover {
    background-color: #e5e7eb;
    cursor: pointer;
}


#bottom svg {
    fill: #1f2937;
    margin: 3px;

    background-color: #e5e7eb;
    border: 0;
    outline: 0;
    padding: 1.5rem 2rem;
    box-shadow: 0px 5px 10px #374151;
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 5px;
    border-bottom: 4px solid #d9d9d9;
}

#bottom svg:hover {
    fill: #374151;

    box-shadow: 0px 15px 25px -5px #374151;
    transform: scale(1.03);
}
  
#bottom svg:active {
    box-shadow: 0px 4px 8px #374151;
    transform: scale(0.98);
}